extends ../layout/layout.pug


block preload
  <link rel=preload as=image href="/img/mask.jpg">
  <link rel=preload as=image href="/img/logo.svg">
  <link rel=preload as=image href="/img/work-bg-white.jpg">
  <link rel=preload as=image href="/img/work-bg-teal.jpg">
  <link rel=preload as=image href="/img/work-bg-orange.jpg">
  <link rel=preload as=image href="/img/work-bg-yellow.jpg">


block content

  section
    .content-text
      h1 Hi there!
      p I'm working with web agencies and design teams to build <strong>solid, performant, accessible</strong> websites and living style guides. I&nbsp;also enjoy working with developers and designers teams to improve their workflow and front-end skills.
      p Aside from that you can find me teaching CMS in university or running workshops about web technologies.

  section#skills
    .content-text
      h1 What can I&nbsp;do for you?

    ul.skill-list.list-inline
        li.skill-list-item
          include /img/tiles/ui-systems.svg
        li.skill-list-item
          include /img/tiles/interactive-interfaces.svg
        li.skill-list-item
          include /img/tiles/wordpress-typo3.svg
        li.skill-list-item
          include /img/tiles/workshops-courses.svg


  section#works

    .content-text
      h1 Some projects I have been working on
      p As a developer I&nbsp;had the opportunity to work on a variety of websites, here are some projects I&nbsp;have enjoyed.

    ul.work-list
        li.work-list-item
          a(href="#fld-lille").work-banner
            h2.work-banner-title
              = "Faculté Libre de Droit"
            p.work-banner-subtitle
              = "A School portal to showcase available courses"

          div.work-content.content-text#fld-lille
            .work-content-inner
              h3.work-content-title
                a.work-content-link(href="http://www.fld-lille.fr")
                  = "www.fld-lille.fr"


        li.work-list-item
          a(href="#grandstravauxroubaix").work-banner
            h2.work-banner-title
              = "30 ans de grands travaux à Roubaix"
            p.work-banner-subtitle
              = "A game about urban exploration and history"

          div.work-content.content-text#grandstravauxroubaix
            .work-content-inner
              h3.work-content-title
                a.work-content-link(href="http://grandstravauxroubaix.bn-r.fr")
                  = "grandstravauxroubaix.bn-r.fr"


        li.work-list-item
          a(href="#bonduelle").work-banner
            h2.work-banner-title
              = "Bonduelle"
            p.work-banner-subtitle
              = "A corporate website about the company and sustainable development"

          div.work-content.content-text#bonduelle
            .work-content-inner
              h3.work-content-title
                a.work-content-link(href="http://bonduelle.com")
                  = "bonduelle.com"


        li.work-list-item
          a(href="#lesdunesdeflandres").work-banner
            h2.work-banner-title
              = "Les dunes de Flandre"
            p.work-banner-subtitle
              = "An interactive experience to promote tourism around the coast of the Channel"

          div.work-content.content-text#lesdunesdeflandres
            .work-content-inner
              h3.work-content-title
                a.work-content-link(href="https://vimeo.com/45384573")
                  = "Video (offline)"
